{%
    set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
]
%}
{% set style = content.field_layout_mode[0]['#markup'] %}
<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#defaultModal">
            {{ content.field_title[0]['#context']['value'] }}
        </button>
        <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="defaultModalLabel">{{ content.field_title[0]['#context']['value'] }}</h4>
                    </div>
                    <div class="modal-body">
                        {{ content.field_modals_content }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {{ title_suffix }}
</div>