<div id="wrapper">
    <header id="header" data-plugin-options='{"stickyEnabled": false}'>
        <div class="header-body">
            <div class="header-top">
                <div class="container">
                    <p>
                        Get in touch! <span class="ml-xs"><i class="fa fa-phone"></i> (123) 456-789</span><span class="hidden-xs"> | <a href="#">mail@domain.com</a></span>
                    </p>
                    <ul class="header-social-icons social-icons hidden-xs">
                        <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        {% if logo %}
            <div class="row">
                <div class="col-md-12 center">
                    <div class="logo">
                        <a href="{{ front_page }}">
                            <img width="111" height="54" src="{{ logo }}" alt="Porto">
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <hr class="tall">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 center">
                {% if title %}
                    <h1 class="mb-sm small">{{ title }}</h1>
                {% endif %}
                <p class="lead">{{ page.content }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr class="tall">
            </div>
        </div>

    </div>
    <footer class="short" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h4 class="heading-primary">About Porto</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna. Phasellus semper scelerisque purus, et semper nisl lacinia sit amet. Praesent venenatis turpis vitae purus semper, eget sagittis velit venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos... <a href="#" class="btn-flat btn-xs">View More <i class="fa fa-arrow-right"></i></a></p>
                    <hr class="light">
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <h5 class="mb-sm">Contact Us</h5>
                    <span class="phone">(800) 123-4567</span>
                    <p class="mb-none">International: (333) 456-6670</p>
                    <p class="mb-none">Fax: (222) 531-8999</p>
                    <ul class="list list-icons list-icons-sm">
                        <li><i class="fa fa-envelope"></i> <a href="mailto:okler@okler.net">okler@okler.net</a></li>
                    </ul>
                    <ul class="social-icons">
                        <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                        <a href="{{ front_page }}" class="logo">
                            <img alt="Porto Website Template" class="img-responsive" src="{{ logo }}">
                        </a>
                    </div>
                    <div class="col-md-11">
                        <p>© Copyright 2016. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>



