<div id="wrapper">
    {% include directory ~ '/templates/includes/h_shop.html.twig' %}
    <div role="main" class="main shop">

        {% if messages %}
            <section id="messages" class="messages">
                <div class="container">
                    {{ messages }}
                </div>
            </section>
        {% endif %}

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <hr class="tall">
                </div>
            </div>
        </div>

        <!--content-->
        {% if page.left_sidebar and page.right_sidebar is empty %}

            <div class="container">
                <div class="row">
                    <div class="col-md-3">

                        <aside class="sidebar">
                            {{ page.left_sidebar }}
                        </aside>

                    </div>
                    <div class="col-md-9">
                        {{ page.content }}
                    </div>
                </div>
            </div>

        {% elseif page.right_sidebar and page.left_sidebar is empty %}

            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        {{ page.content }}
                    </div>
                    <div class="col-md-3">
                        <aside class="sidebar">
                            {{ page.right_sidebar }}
                        </aside>
                    </div>
                </div>
            </div>

        {% elseif page.right_sidebar and page.left_sidebar %}

            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <aside class="sidebar">
                            {{ page.left_sidebar }}
                        </aside>
                    </div>
                    <div class="col-md-6">
                        {{ page.content }}
                    </div>
                    <div class="col-md-3">
                        <aside class="sidebar">
                            {{ page.right_sidebar }}
                        </aside>
                    </div>
                </div>
            </div>

        {% else %}

            <div class="container">
                {% if page.before_content %}
                    {{ page.before_content }}
                {% endif %}

                {{ page.content }}
            </div>

        {% endif %}

        {% if page.after_content %}
            {{ page.after_content }}
        {% endif %}
    </div>
    {% include directory ~ '/templates/includes/footer.html.twig' %}
</div>

