
<div id="wrapper">
    {% if below_slider_option == 1 or arg == 'index-header-below-slider' %}
        {% if page.slide_show %}
            {{ page.slide_show }}
        {% endif %}
    {% endif %}
    {% include directory ~ '/templates/includes/header.html.twig' %}
    <div role="main" class="main relative">
        {% if below_slider_option != 1 and arg != 'index-header-below-slider' %}
        <section id="home">
            {% if page.slide_show %}
                {{ page.slide_show }}
            {% endif %}
        </section>

        {% endif %}
        {% if page.slider_contact_form %}
            <div class="slider-contact-form">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-7">
                            <div class="featured-boxes mt-none mb-none">
                                <div class="featured-box featured-box-primary mt-xl">
                                    <div class="box-content">
                                        {{ page.slider_contact_form }}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if page_title %}
            <!--breadcrumbs-->
        {% if page.breadcrumb %}
            {% if page_header_option == 'none' %}
                {% if arg == 'index-page-header-light' %}
                    <section class="page-header page-header-light page-header-more-padding ">
                {% elseif arg == 'index-page-header-light-reverse' %}
                    <section class="page-header page-header-light page-header-reverse page-header-more-padding">
                {% elseif arg == 'index-page-header-parallax' %}
                    <section class="page-header page-header-custom-background parallax" data-plugin-parallax data-plugin-options='{"speed": 1.5}' data-image-src="{{ theme_root }}/img/parallax.jpg">
                {% elseif arg == 'index-page-header-center' %}
                    <section class="page-header page-header-center page-header-more-padding page-header-no-title-border">
                {% elseif arg == 'index-page-header-color-primary' %}
                            <section class="page-header page-header-color page-header-primary page-header-more-padding">
                {% elseif arg == 'index-page-header-color-quaternary' %}
                            <section class="page-header page-header-color page-header-quaternary page-header-more-padding">
                {% elseif arg == 'index-page-header-color-secondary' %}
                            <section class="page-header page-header-color page-header-secondary page-header-more-padding">
                {% elseif arg == 'index-page-header-color-tertinary' %}
                            <section class="page-header page-header-color page-header-tertiary page-header-more-padding">
                {% else %}
                        <section class="page-header">
                {% endif %}
            {% else %}
                {% if page_header_option == 'ph_light' %}
                    <section class="page-header page-header-light page-header-more-padding ">
                {% elseif page_header_option == 'ph_light_reverse' %}
                    <section class="page-header page-header-light page-header-reverse page-header-more-padding">
                {% elseif page_header_option == 'ph_parallax' %}
                    <section class="page-header page-header-custom-background parallax" data-plugin-parallax data-plugin-options='{"speed": 1.5}' data-image-src="{{ theme_root }}/img/parallax.jpg">
                {% elseif page_header_option == 'ph_center' %}
                    <section class="page-header page-header-center page-header-more-padding page-header-no-title-border">
                {% else %}
                    <section class="page-header {% if page_header_color_option != 'none' %} page-header-color {{ page_header_color_option }}{% endif %}">
                {% endif %}
            {% endif %}

                <div class="container">

                    {% if page_header_option == 'ph_light' or arg == 'index-page-header-light' or page_header_option == 'ph_parallax' or arg == 'index-page-header-parallax' or page_header_option == 'ph_center' or arg == 'index-page-header-center' or arg == 'index-page-header-color-primary' or arg == 'index-page-header-color-quaternary' or arg == 'index-page-header-color-secondary' or arg == 'index-page-header-color-tertinary' %}
                        <div class="row">
                            <div class="col-md-12">
                                <h1>{{ page_title | striptags }}</h1>
                                {{ page.breadcrumb }}
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-md-12">
                                {{ page.breadcrumb }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h1>{{ page_title | striptags }}</h1>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </section>
        {% endif %}
        {% endif %}

        {% if messages %}
            <section id="messages" class="messages">
                <div class="container">
                    {{ messages }}
                </div>
            </section>
        {% endif %}
        {% if page.left_sidebar and page.right_sidebar is empty %}
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <aside class="sidebar">
                        {{ page.left_sidebar }}
                    </aside>
                </div>
                <div class="col-md-9">
                    {{ page.content }}
                </div>
            </div>

        </div>

        {% elseif page.right_sidebar and page.left_sidebar is empty %}
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    {{ page.content }}
                </div>
                <div class="col-md-3">
                    <aside class="sidebar">
                        {{ page.right_sidebar }}
                    </aside>
                </div>
            </div>
        </div>


        {% elseif page.right_sidebar and page.left_sidebar %}
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <aside class="sidebar">
                        {{ page.left_sidebar }}
                    </aside>
                </div>
                <div class="col-md-6">
                    {{ page.content }}
                </div>
                <div class="col-md-3">
                    <aside class="sidebar">
                        {{ page.right_sidebar }}
                    </aside>
                </div>
            </div>
        </div>

        {% else %}

        <div>
            {{ page.content }}
        </div>
        {% endif %}
        {% if page.after_content %}
            {{ page.after_content }}
        {% endif %}
    </div>
    {% include directory ~ '/templates/includes/footer.html.twig' %}
</div>

