{% set thumbnail = row._entity.field_thumbnail %}
<div>
	<div class="portfolio-item">
		<a href="{{ fields.path.content  }}">
			<span class="thumb-info thumb-info-no-zoom thumb-info-lighten">
				<span class="thumb-info-wrapper">
					<img src="{{ file_url(thumbnail.entity.fileuri) }}" class="img-responsive" alt="{{ fields.title.content }}">
					<span class="thumb-info-title">
						<span class="thumb-info-inner">{{ fields.title.content }}</span>
						<span class="thumb-info-type">{{ fields.field_portfolio_category.content }}</span>
					</span>
					<span class="thumb-info-action">
						<span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
					</span>
				</span>
			</span>
		</a>
	</div>
</div>