{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
    {% if multiple %}
        {#<div{{ attributes.addClass(classes, 'field__items') }}>#}
        <ul class="list list-inline list-icons">
            {% for item in items %}
                {#<div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>#}
                <li><i class="fa fa-check-circle"></i> {{ item.content }} </li>
            {% endfor %}
        </ul>
        {#</div>#}
    {% else %}
        <ul class="list list-inline list-icons">
        {% for item in items %}
            {#<div{{ attributes.addClass(classes, 'field__item') }}>{{ item.content }}</div>#}
            <li><i class="fa fa-check-circle"></i> {{ item.content }} </li>
        {% endfor %}
        </ul>
    {% endif %}
{% else %}
    <div{{ attributes.addClass(classes) }}>
        <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
        {% if multiple %}
            <div class="field__items">
        {% endif %}
        {% for item in items %}
            <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
        {% endfor %}
        {% if multiple %}
            </div>
        {% endif %}
    </div>
{% endif %}
