{%
set classes = [
dom_id ? 'js-view-dom-id-' ~ dom_id,
]
%}

<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {{ title }}
    {#  {{ title_suffix }}#}

    <section class="parallax section section-parallax section-center" data-plugin-parallax data-plugin-options='{"speed": 1.5}' data-image-src="{{ theme_root }}/img/parallax-7.jpg">
        <div class="container">
            {% if header %}
                <div class="row">
                    <div class="col-md-12 center">
                        {{ header }}

                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme nav-bottom rounded-nav mt-lg mb-none" data-plugin-options='{"items": 1, "loop": false}'>
                        {{ rows }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ exposed }}
    {{ attachment_before }}

    {{ empty }}
    {{ pager }}

    {{ attachment_after }}
    {{ more }}

    {% if footer %}
        <footer>
            {{ footer }}
        </footer>
    {% endif %}

    {{ feed_icons }}
</div>









