{%
set classes = [
dom_id ? 'js-view-dom-id-' ~ dom_id,
]
%}

<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {{ title }}
    {#  {{ title_suffix }}#}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 p-none">
                <section class="section section-secondary match-height mt-none">
                    <div class="row">
                        <div class="col-half-section col-half-section-right">
                            {% if header %}
                            <h2 class="heading-dark">{{ header }}</h2>
                            {% endif %}
                            <div class="row">
                                {{ rows }}
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-6 p-none">
                {% if footer %}
                    {{ footer }}
                {% endif %}
            </div>
        </div>
    </div>

    {{ exposed }}
    {{ attachment_before }}

    {{ empty }}
    {{ pager }}

    {{ attachment_after }}
    {{ more }}



    {{ feed_icons }}
</div>






