{%
set classes = [
dom_id ? 'js-view-dom-id-' ~ dom_id,
]
%}

<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {{ title }}
    {#  {{ title_suffix }}#}

    <div class="container">
        <div class="row mt-xl">
            <div class="col-md-12">
                {% if header %}
                <h2 class="mb-xs">{{ header }}</h2>
                {% endif %}
                <div class="row">
                    {{ rows }}
                </div>
            </div>
        </div>
    </div>

    {{ exposed }}
    {{ attachment_before }}

    {{ empty }}
    {{ pager }}

    {{ attachment_after }}
    {{ more }}

    {{ feed_icons }}
</div>






