{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
{#  {{ title_suffix }}#}
    <div class="container">
        <div class="row">
            <div class="col-md-12 center mb-xl">
                {% if header %}
                    <h2 class="mt-xl">{{ header }}</h2>
                {% endif %}
                <div class="owl-carousel owl-theme mb-none" data-plugin-options='{"items": 4, "margin": 0, "loop": false}'>
                    {{ rows }}
                </div>
            </div>
        </div>
    </div>
    {{ exposed }}
  {{ attachment_before }}

  {{ empty }}
  {{ pager }}

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>







